Source: blubber
Section: devel
Priority: optional
Maintainer: Wikimedia Foundation Release Engineering <releng@wikimedia.org>
Uploaders: Dan Duvall <dduvall@wikimedia.org>,
           Tyler Cipriani <tcipriani@wikimedia.org>
Build-Depends: debhelper (>= 10),
               dh-golang,
               golang-any
Standards-Version: 3.9.8
Homepage: https://phabricator.wikimedia.org/source/blubber
XS-Go-Import-Path: phabricator.wikimedia.org/source/blubber

Package: blubber
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Compiles simple container image configuration into Dockerfiles
 Blubber aims to help developers describe the requirements of their container
 images and runtimes for various environments (development, staging,
 production) while still satisfying the necessary constraints on the build and
 release process for security and parity.
